.page-sidebar-left {
  background-color:#FF0000;
}
.page-content {
  background-color:#33FF00;
}
.page-highlighted {
  background-color:#3300CC;
}
.page-navigation {
  background-color:#FFFF00;
}




